<div></div>{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}" />
  
<title>Authentication</title>
</head>
  <body>
    <section>
      {% for message in messages %}
      <div class="alert alert-{{ message }} alert-dismissible">
        <strong>Message:</strong> {{message}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
      <!--
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message: </strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      -->
      {% endfor %}
      <div class="contain">
        <div class="heading">
          <h3>Welcome to PrabhuDev</h3>
        </div>
        {% if user.is_authenticated %}
        <h3>hello</h3>
        <h4>You are successfully logged in!!!</h4>
        <div class="btns">
          <button class="signout" type="button"><a href="/signout">Sign Out</a></button>
          {% else %}
          <button class="signup" type="button"><a href="/signup">Sign Up</a></button>
          <button class="signin" type="button"><a href="/signin">Sign In</a></button>
        </div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
